<div data-controller="service-area-map"
     data-service-area-map-geojson-path-value="/japan_munis_simplified.geojson"
     data-service-area-map-initial-codes-value="<%= city_codes.to_json %>"
     data-service-area-map-post-url-value="<%= vendors_coverage_settings_cities_bulk_path %>"
     style="height: 600px;"></div>

<div class="alert alert-info mt-2">
  マップ上の市区町村をクリックして選択／解除してください。決定ボタンはマップ右上に表示されます。
</div>