<div class="text-center py-5">
  <h1 class="display-6 mb-3">記事一覧</h1>

  <%# まだ記事が無い場合のダミー表示 %>
  <p class="text-muted">
    まだ投稿はありません。<br>
    記事が追加されるまでお待ちください。
  </p>

  <%# 後で記事を loop 表示する予定の場所 %>
  <%# @articles.each do |article| %>
  <%#   ... %>
  <%# end %>
</div>