.loading-placeholder{
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}

.no-bottom-radius {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.no-top-radius {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: none !important;
}

.no-radius {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top: none !important;
}
.no-bottom-radius-33 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width:33%;
}

.no-top-radius-33 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: none !important;
  width:33%;
}

.no-radius-33 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top: none !important;
  width:33%;
}
