.toast-over-footer {
  position: fixed;
  z-index: 1100;
  bottom: 0 !important;
  right : 1rem;
}

canvas { width:100%; height:100%; }

.loading-overlay          { display:none !important; }
.loading-overlay.is-active{ display:flex !important; }

@media (min-width: 992px) {     /* lg 以上でタブを常に見せる */
  .tab-content > .tab-pane { display:block; opacity:1; }  /* Bootstrap の fade 効果を解除 */
}

.form-select-plaintext {
  pointer-events: none !important;
  border: 0 !important;
  appearance: none;
}
.form-number-plaintext {
  pointer-events: none !important;
  border: 0 !important;
  max-width: 60px;
  padding-inline: 1px;
}